<?xml version="1.0" encoding="UTF-8"?>
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle
      Name="$(var.name)"
      Manufacturer="$(var.manufacturer)"
      UpgradeCode="$(var.upgradeCode)"
      Version="$(var.version)"
      IconSourceFile="$(var.icon)">

    <!-- Detect existing version of Microsoft Visual C++ 2015-2019 Redistributable. See:
           https://stackoverflow.com/questions/37396773/wix-burn-vcredist
           https://gist.github.com/nathancorvussolis/6852ba282647aeb0c5c00e742e28eb48 -->
    <util:FileSearch Id="GetVC14X64Exists" Condition="VersionNT64" Variable="vc14x64Exists" Path="[SystemFolder]vcruntime140.dll" Result="exists"/>
    <util:FileSearch Id="GetVC14X64Version" Condition="VersionNT64" Variable="vc14x64Version" Path="[SystemFolder]vcruntime140.dll" Result="version"/>
    <util:FileSearch Id="GetVC14X86onX64Exists" Condition="VersionNT64" Variable="vc14x86Exists" Path="[System64Folder]vcruntime140.dll" Result="exists"/>
    <util:FileSearch Id="GetVC14X86onX64Version" Condition="VersionNT64" Variable="vc14x86Version" Path="[System64Folder]vcruntime140.dll" Result="version"/>
    <util:FileSearch Id="GetVC14X86onX86Exists" Condition="NOT VersionNT64" Variable="vc14x86Exists" Path="[SystemFolder]vcruntime140.dll" Result="exists"/>
    <util:FileSearch Id="GetVC14X86onX86Version" Condition="NOT VersionNT64" Variable="vc14x86Version" Path="[SystemFolder]vcruntime140.dll" Result="version"/>

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
          LicenseUrl=""
          LogoFile="$(var.logo)"
          ShowVersion="yes"
          SuppressOptionsUI="yes"
          SuppressRepair="yes"/>
    </BootstrapperApplicationRef>

    <Chain>
      <ExePackage
          Id="vc_redist.x64.exe"
          Name="vc_redist.x64.exe"
          Cache="no"
          Compressed="yes"
          PerMachine="yes"
          Permanent="yes"
          Vital="yes"
          SourceFile="$(var.vcredist)"
          DetectCondition="vc14x64Exists AND vc14x64Version &gt;= v$(var.vcredistVersion)"
          InstallCommand="/install /quiet /norestart">
        <ExitCode Value="3010" Behavior="forceReboot"/>
        <ExitCode Value="1638" Behavior="success"/>
      </ExePackage>
      <MsiPackage
          DisplayName="$(var.name)"
          SourceFile="$(var.msi)"
          Compressed="yes"
          Vital="yes"/>
    </Chain>
  </Bundle>
</Wix>
