[submodule "third/googletest"]
	path = third/googletest
	url = https://github.com/google/googletest.git
[submodule "third/pybind11"]
	path = third/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third/fmt"]
	path = third/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third/eigen"]
	path = third/eigen
	url = https://gitlab.com/libeigen/eigen.git
