language: cpp
matrix:
  include:
    - name: "Ubuntu 16.04"
      os: linux
      dist: xenial
      install:
        - PYENV_VERSION=1.2.20
        - PYTHON_VERSION=3.7.8
        - QT_VERSION=5.12.5
        - sudo apt-get install -y libgl1-mesa-dev
        - sudo apt-get install -y libxkbcommon-x11-0 # For Qt plugins/platforms/libqxcb.so
        - sudo apt-get install -y libfreetype6-dev
        - pushd $(pyenv root)
        - git fetch
        - git checkout v$PYENV_VERSION
        - pyenv install -v $PYTHON_VERSION
        - popd
        - wget https://www.vgc.io/releases/qt/opt-qt-$QT_VERSION-gcc_64.tar.gz
        - sudo tar -xzf opt-qt-$QT_VERSION-gcc_64.tar.gz -C /opt
      before_script:
        - pyenv global $PYTHON_VERSION
        - PYTHON_PREFIX=$(python-config --prefix)
        - PYTHON_XY=python${PYTHON_VERSION%.*}" # X.Y.Z -> pythonX.Y
        - CMAKE_EXTRA_ARGS+=" -DPYTHON_EXECUTABLE=$PYTHON_PREFIX/bin/$PYTHON_XY"
        - CMAKE_EXTRA_ARGS+=" -DPYTHON_LIBRARY=$PYTHON_PREFIX/lib/lib${PYTHON_XY}m.so"
        - CMAKE_EXTRA_ARGS+=" -DPYTHON_INCLUDE_DIR=$PYTHON_PREFIX/include/${PYTHON_XY}m"
        - CMAKE_EXTRA_ARGS+=" -DQt=/opt/qt/$QT_VERSION/gcc_64"
    - name: "macOS 10.14.4"
      os: osx
      osx_image: xcode10.3
      addons:
        homebrew:
          packages:
            - qt
            - freetype
      before_script:
        - export CXX=clang++ CC=clang
        - CMAKE_EXTRA_ARGS+=" -DQt=/usr/local/opt/qt"

script:
  - echo $TRAVIS_PULL_REQUEST
  - echo $TRAVIS_PULL_REQUEST_BRANCH
  - echo $TRAVIS_PULL_REQUEST_SHA
  - echo $TRAVIS_PULL_REQUEST_SLUG
  - echo $TRAVIS_REPO_SLUG
  - echo $TRAVIS_BRANCH
  - echo $TRAVIS_COMMIT
  - echo $TRAVIS_COMMIT_MESSAGE
  - if [ $TRAVIS_PULL_REQUEST == false ]; then export VGC_COMMIT_BRANCH=$TRAVIS_BRANCH; else VGC_COMMIT_BRANCH=$TRAVIS_PULL_REQUEST_BRANCH; fi
  - echo $VGC_COMMIT_BRANCH
  - mkdir build
  - cd build
  - cmake .. -DCMAKE_BUILD_TYPE=Release -DVGC_COMMIT_BRANCH=$VGC_COMMIT_BRANCH ${CMAKE_EXTRA_ARGS}
  - make
  - make check
  - make deploy
